@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

/* globals.css */
.scroll-mt-28 {
  scroll-margin-top: 7rem;
}

.mb-28 {
  margin-bottom: 7rem;
}

.sm\:mb-40 {
  margin-bottom: 10rem;
}

.transition-all {
  transition: all 0.3s ease-in-out;
}
